{% extends "encyclopedia/layout.html" %}

{% block token %}{% csrf_token %}{% endblock%}

{% block title %}
    Create new page
{% endblock %}

{% block body %}

    <form action="{% url 'newPage'%}" method="POST">
        {% csrf_token %}
        <label for="title">
            {% if alreadyExists == True %}
                <abbr title="{{errorMessage}}">
            {% endif %}
            Title:
            {% if alreadyExists == True %}
                <span style="color: red;">*</span>
            {% endif %}
            {% if alreadyExists == True %}
                </abbr>
            {% endif %}
        </label>
        <input type="title" name="title" {% if title %}value="{{title}}"{%endif%} required>
        <br>
        <textarea name="text" rows="10" cols="30" name="r" required>
                {{text|safe}}
        </textarea>
        <br>
        {% if edit %}
            <input type="hidden" value="True" name="edit">
        {% endif %}
        <input type="submit" value="Save">
    </form>
{% endblock %}